<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <application
        android:allowBackup="false"
        android:hasFragileUserData="true"
        android:label="RoboWindows"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoboWindows">
        <service
            android:name=".DynamicTrialService"
            android:exported="false"
            android:process=":dynrec" />
        <service
            android:name=".NormalCpuFixtureService"
            android:exported="false"
            android:process=":cpu_normal" />
        <service
            android:name=".DynamicCpuFixtureService"
            android:exported="false"
            android:process=":cpu_dynamic" />
        <activity
            android:name=".PresentationFixtureActivity"
            android:exported="false"
            android:process=":presentation_fixture"
            android:screenOrientation="sensorLandscape"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:exported="true"
            android:enableOnBackInvokedCallback="true"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
